@{

}
<h1>@ViewData["Title"]</h1>

<div id="about-headline">
    Merhaba!<br />
    Ben Rumeysa Çiçek
</div>

    <img id="about-myPicture" src="~/images/me2.jpg" alt="Rumeysa Çiçek">

    <div id="about-text">
        <p>
            Yazılım dünyasına olan derin tutkum ve merakım, beni bilgisayar mühendisi olmaya yönlendirdi.

            [Üniversitenizden mezun oldunuz mu? Mezun olduysanız, buraya ekleyebilirsiniz.] eğitimimle aldığım temel bilgiler, bilgisayar bilimi, yazılım mühendisliği ve ilgili alanlarda sağlam bir temel oluşturdu.
            Üniversite eğitimim sırasında, sadece sınıf içinde değil, aynı zamanda gerçek dünya projelerinde de yer alarak teorik bilgilerimi pratik uygulamaya dönüştürme fırsatı buldum. Bu projelerde, yazılım geliştirme süreçlerini baştan sona yönetme, takım içinde etkili iletişim kurma ve karmaşık problemlere yaratıcı çözümler bulma yeteneklerimi geliştirdim.
        </p>
    </div>
