@{
    ViewData["Title"] = "Contact Page";
}

<h2>Contact Us</h2>

@if (ViewBag.MessageSent != null)
{
    <div>@ViewBag.MessageSent</div>
}
else
{
    <form method="post" action="@Url.Action("Contact", "Home")">
        <label for="name">Name:</label>
        <input type="text" name="name" required />

        <label for="surname">Surname:</label>
        <input type="text" name="surname" required />

        <label for="subject">Subject:</label>
        <input type="text" name="subject" required />

        <label for="email">Email:</label>
        <input type="email" name="email" required />

        <label for="message">Message:</label>
        <textarea name="message" required></textarea>

        <button type="submit">Send Message</button>
    </form>
}

