@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="fadeImage" src="~/images/rumeysacck.png" alt="Rumeysa Image" />
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>$(document).ready(function () {
            // Sayfa yüklendiğinde resmi göster
            $("#fadeImage").css("opacity", "1");
        });</script>
}